.tecnologia-bg {
  background: var(--cor-11);
  box-shadow: inset 0 -120px var(--cor-0);
}
.tecnologia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}
.tecnologia-conteudo {
  align-self: end;
}
.tecnologia h2 {
  margin-bottom: 32px;
}
.tecnologia span {
  margin-bottom: 32px;
  margin-top: 32px;
}
.tecnologia p {
  margin-bottom: 24px;
}
.construcao {
  color: var(--cor-0);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.botao-2 {
  margin-bottom: 32px;
}
.tecnologia img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
