.termos {
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 70ch;
}

.termos h2 {
  margin-bottom: 20px;
  font-weight: 600;
}
.termos p + h2 {
  margin-top: 40px;
}
.termos p {
  margin-bottom: 24px;
}
.termos h3 {
  margin-bottom: 12px;
}
